<div class="ui centered cards">
    <div class="card">
      <div class="image">
        <%= image_tag('logo.png') %>
      </div>
      <div class="content">
        <div class="header">
          Número do quarto: <%= @meeting_room.number %>
        </div>
        <div class="meta">
          Capacidade: <%= @meeting_room.capacity %> pessoas
          <br/>
          Preço: <%= @meeting_room.price %>
        </div>
        <div class="description">
          <strong><%= @meeting_room.description %></strong>
          <br/>
          Camas de casal: <%= @meeting_room.couple_beds_number %> pessoas
          <br/>
          Camas de solteiro: <%= @meeting_room.single_beds_number %> pessoas
        </div>
      </div>
    </div>
</div>
