<h2 class="ui horizontal divider header">
  Cômodos Ocupados - Detalhes
</h2>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">
    <div class="ui center aligned segment">
      <h3>Quartos Ocupados</h3></br>
      <div class="ui cards">
        <% @rooms.each do |room| %>
          <div class="ui card">
            <p>Número do Cômodo: <%= room.number %></p>
            <p><% current_booking = find_current_booking(room.id) %></p>
            <p>Nome do Cliente: <%= current_booking.client.name %></p>
            <p>CPF do Cliente: <%= current_booking.client.cpf %></p>
            <p>Final da Reserva: <%= current_booking.end_date %></p>
            <%= link_to "Visualizar", room_path(room) %>
          </div>
        <% end %>
      </div>
    </div></br>

    <div class="ui center aligned segment">
      <h3>Salas de Reunião Ocupados</h3></br>
      <div class="ui cards">
        <% @meeting_rooms.each do |meeting_room| %>
          <div class="ui card">
            <p>Número do Cômodo: <%= meeting_room.number %></p>
            <p><% current_booking = find_current_booking(meeting_room.id) %></p>
            <p>Nome do Cliente: <%= current_booking.client.name %></p>
            <p>CPF do Cliente: <%= current_booking.client.cpf %></p>
            <p>Final da Reserva: <%= current_booking.start_time + 6.hour %></p>
            <%= link_to "Visualizar", meeting_room_path(meeting_room) %>
          </div>
        <% end %>
      </div>
    </div></br>

    <div class="ui center aligned segment">
      <h3>Salões de Evento Ocupados</h3></br>
      <div class="ui cards">
        <% @event_halls.each do |event_hall| %>
          <div class="ui card">
            <p>Número do Cômodo: <%= event_hall.number %></p>
            <p><% current_booking = find_current_booking(event_hall.id) %></p>
            <p>Nome do Cliente: <%= current_booking.client.name %></p>
            <p>CPF do Cliente: <%= current_booking.client.cpf %></p>
            <p>Final da Reserva:
              <% if current_booking.period == 1 %>
                12:00:00
              <% else %>
                00:00:00
              <% end %>
            </p>
            <%= link_to "Visualizar", event_hall_path(event_hall) %>
          </div>
        <% end %>
      </div>
    </div></br>

    </br>
  </div>
</div>
