<p id="notice"><%= notice %></p>

<h1>Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Capacity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.number %></td>
        <td><%= accommodation.capacity %></td>
        <td><%= accommodation.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
