<div class="ui center aligned container">
  <h1>Salões de Eventos vagos</h1>
  <h4>Abaixo está a lista de salões de eventos vagos para o período desejado.</h4>
  <h4>Para maiores detalhes clique no link visualizar do quarto desejado</h4>
  
  <div class="ui centered cards">
    <% @event_halls.each do |event_hall| %>
      <div class="card">
        <div class="image">
          <%= image_tag('logo.png') %>
        </div>
        <div class="content">
          <div class="header">
            Número do quarto: <%= event_hall.number %>
          </div>
          <div class="meta">
            Capacidade: <%= event_hall.capacity %> pessoas
          </div>
          <div class="description">
            <%= event_hall.description %>
          </div>
        </div>
        <div class="extra content">
          <span class="centered">
            <%= link_to "Visualizar", {:controller => "accommodations", :action => "show", :id => event_hall.id }%>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
