<p id="notice"><%= notice %></p>

<h1 class="ui horizontal divider header">
  Reservas
</h1>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">

    <%= render 'rooms_bookings' %>

    <%= render 'meeting_rooms_bookings' %>

    <%= render 'event_halls_bookings' %>

    <%= link_to 'Nova Reserva', select_new_booking_path %>
  </div>
</div>
