<table class="ui table">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Endereço</th>
      <th>Data de Nascimento</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Operação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.registrationID %></td>
        <td><%= employee.name %></td>
        <td><%= employee.cpf %></td>
        <td><%= employee.address %></td>
        <td><%= employee.birthday %></td>
        <td><%= employee.email %></td>
        <td><%= employee.fone %></td>
        <td><%= link_to "Editar", edit_employee_path(employee) %></td>
        <td><%= link_to 'Deletar', employee_path(employee),
              method: :delete,
              data: { confirm: 'Você tem certeza??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
