<h2 class="ui horizontal divider header">
  Bem-vindo, <%= current_user.name%>
</h2>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">
    <%= link_to 'Lista de reservas', bookings_path %>
    <%= link_to 'Situação dos Cômodos', accommodations_situation_path %>
    <%= link_to 'Consultar Histórico de Reservas', main_search_path %>
    <%= link_to 'Buscar Cliente', search_client_path %>
    <%= link_to 'Cadastrar Cliente', new_client_path  %>
    <%= link_to 'Cadastrar Funcionário', new_employee_path %>
    <%= link_to 'Usuários',  users_path %>
  </div>
</div>
