<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @hotelinformation.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hotelinformation.email %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @hotelinformation.fone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotelinformation.address %>
</p>

<%= link_to 'Edit', edit_hotelinformation_path(@hotelinformation) %>
