<div class="ui centered segment">
  <h1>Informações</h1>

  <p>
    <strong><%= @hotelinformation.description %></strong>
  </p>

  <p>
    <strong>Email para contato:</strong>
    <%= @hotelinformation.email %>
  </p>

  <p>
    <strong>Telefone para contato:</strong>
    <%= @hotelinformation.fone %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= @hotelinformation.address %>
  </p>

  <% if !current_user.nil? and current_user.type=="Employee" %>
    <%= link_to 'Editar informações', edit_hotelinformation_path(@hotelinformation), :class => "ui blue button" %>
  <% end %>

</div>
<div class="ui centered segment">
  <h2>Nossas acomodações:</h2>
  <h4>Quarto de casal</h4>
  <%= image_tag('quarto_casal.jpg', height: 640, width: 960)%>
  <h4>Quarto de solteiro</h4>
  <%= image_tag('quarto_solteiro_2_camas.jpg', height: 640, width: 960)%>
  <h4>Sala de Reuniões</h4>
  <%= image_tag('sala_de_reunioes.jpg', height: 640, width: 960)%>
  <h4>Sala de videoconferência</h4>
  <%= image_tag('videoconf_room.jpg', height: 640, width: 960)%>
  <h4>Salão de eventos</h4>
  <%= image_tag('salao_de_festas.jpg', height: 640, width: 960)%>
</div>
