<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui grid">
      <div class="left floated column">
        <%= image_tag('logo.png') %>
      </div>
      <%= render 'layouts/social_medias' %>
    </div>

    <div class="nav_menu">
      <% if user_signed_in? %>
        <% if current_user.type == "employee" %>
          <%= render 'layouts/employee_navbar' %>
        <% else %>
          <%= render 'layouts/client_navbar' %>
        <% end %>
      <% else %>
        <%= render 'layouts/visitors_navbar' %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
